body {
    /* background: linear-gradient(-45deg, rgba(89, 89, 241, 0.89), rgb(122, 122, 122)); */
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    width: 90%;
    margin: 0 auto;
    font-family: 'Titillium Web', sans-serif;
}

.photos {
    display: flex;
    justify-content: center;
}

.svg {
    fill: orange;
    width: 25px;
    margin: 70px 30px;
}

ul {
    padding: 0;
    margin-top: 100px;
}

a {
    list-style: none;
    text-decoration: none;
    color: orange;
    font-size: 1.5em;
}

li {
    text-align: center;
    border-bottom: 1px solid orange;
    padding: 10px;

}

#nav {
    position: relative; 
   left: 0px;
    top: 0px;
    z-index: 1; 
    display: none;  
}

#menu {
    position: absolute;
    fill: orange;
    width:25px;
    top: 0%;
    right: 6%;

}

#skill {
    color: orange;
    font-size: 1.5em;
}


.presentation {
    margin-top: 5%;
    font-size: 1.5em;
    text-align: center;
    border-left: 3px solid #ffa500;
    line-height: normal;
    padding: 50px auto;
}

.hireme {
    margin: auto;
    border-radius: 40px;
    color: #ffa500;
    width: 200px;
    margin: 50px auto;
    height: 50px;
    border: 3px solid #ffa500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
}

h1 {
    font-size: 2em;
    margin: 40px 10px;
    color: #ffa500;
}

@media only screen and (min-width: 768px) {
     li {
        display: inline;
        border: none;
    }

    .presentation {
        font-size: 3em;
        border-left: 6px solid orange;
    }

    #skill {
        font-size: 3.2em;
    }

    .svg {
        fill: orange;
        width: 40px;
        margin: 70px 30px;
    }

    .hireme {
        border-radius: 100px;
        color: #ffa500;
        padding: 20px;
        width: 500px;
        display: flex;
        font-size: 2em;
    }
    #menu{
        display:none;
    }
    h1{
        text-align: center;
        font-size: 5em;
    }
    nav {
       display:flex;
       justify-content: center;        
    }
}